<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.perusta.thinair"
    android:versionCode="1"
    android:versionName="1.5">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />

    <application android:label="Thin Air Keyboard" android:hasCode="true">
        <service android:name=".PerustaKeyboardService"
                 android:permission="android.permission.BIND_INPUT_METHOD"
                 android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method.xml" />
        </service>
    </application>
</manifest>
